* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Hudi', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(46, 46, 46);
}
.main{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-size: clamp(26px,3.5vw,48px); 
    /* 3 parametri per clamp. Minimum-size, sopra il minimum-size, maximum size   */
}
h2{
    font-size: clamp(20px,2vw,40px);
}
p{
    font-family: 'Hudi', sans-serif;
    font-size: clamp(13px,.8vw,200px);
    line-height: 1.7;
    color: rgb(216, 216, 216);
}

nav{
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    display: flex;
    height: 6vh;
    background:  #1f1f1f;
    z-index: 123;
}


.yellowlight{
    color: #ffd900;

}
.highlight{
    /* background:  #ffe659;  */
    background: #ffd900;
    color: black;
}
.highlight-lite{
    background: white;
    color: black;
    text-decoration: none;

}

/* INTRO */

.landing{
    margin-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "landing image";
    height: 100vh;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    
}
.nav-links li a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}


.landing-image{
    grid-area: image;
    background: url("./src/4_5915707698027956208.jpg");
}
.description{
    grid-area: landing;
    padding: 4em;
    background: rgb(46, 46, 46);
    font-family: "hidi", sans-serif;
    font-size: 1.3rem;
}


/* INTRODUCTION */
.intro-grid{
    background: rgb(46, 46, 46);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "introduction svg";
    height: 100vh;
}
.intro-text{
    grid-area: introduction;
    height: 100vh;
    color: rgb(216, 216, 216);
    font-family: "hidi", sans-serif;
    font-size: 1.3rem;
    align-self: center;
    padding: 4em;
}
.intro-text p{
    margin-top: 1.2em;
}

.intro-svg{
    grid-area: svg;
    background: rgb(46, 46, 46);
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ANALISI */
.analisi{
    height: 100vh;
}
.analisi-grid{
    background: rgb(46, 46, 46);
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: auto;
    grid-template-areas: "description graph";
    height: 100vh;
}

.analisi-description{
    grid-area: description;
    height: 100vh;
    background: rgb(46, 46, 46);
    font-family: "hidi", sans-serif;
    font-size: 1.3rem;
    align-self: center;
    grid-area: 1/1/2/2;
    padding: 4em;
    padding-top: 9em;
}

.best50key{
    align-self: center;
    margin: 4em;
}

.best50key rect{
    fill: rgb(255, 136, 0);
}

.best50key g{
    color: rgb(216, 216, 216);
}

#best50svg line{
    stroke: rgb(87, 87, 87);
}

.titleTop50Key{
    font-size: 2em;
    fill: rgb(216, 216, 216);
}

.xAxisTitle{
    font-size: 1.3rem;
}

/* ANALISI TEMPORALE */
.analisi-temporale{
    height: 220vh;
}
.analisi-temporale-grid{
    display: grid;
    grid-template-columns: 50% 700;
    grid-template-rows: 25% 400px 400px auto;
    grid-template-areas: 
    "annualeDescrizione annualeDescrizione"
    "graficoAnnuale graficoAnnuale"
    "graficoMensile graficoMensile"
    "coronavirus ventidiciannove";
    height: 100%;
}

/* ANALISI ANNUALE */

.analisiAnnualeDescription{
    background: rgb(46, 46, 46);
    grid-area: annualeDescrizione;
    font-family: "hidi", sans-serif;
    padding: 4rem;
}

.graficoAnnuale{
    background: rgb(46, 46, 46);
    grid-area: graficoAnnuale;
}
.graficoAnnuale svg{
    color: rgb(216, 216, 216);
    margin: 1rem;
    justify-self: center;
    align-self: center;
}

.linePath{
    fill: none;
    stroke: rgb(255, 136, 0);
    stroke-width: 3;
    stroke-linejoin: round;
}
.graficoAnnuale .axisTitle{
    font-size: 1.5rem;
}

.graficoAnnuale line{
    stroke: rgb(87, 87, 87);
}

/* DESCRIZIONE GRAFICO MENSILE */

.analisiMensileDescription{
    grid-area: coronavirus;
    background: rgb(46, 46, 46);
    font-family: "hidi", sans-serif;
    padding: 4rem;
}

/* GRAFICO MENSILE */

.graficoMensile{
    background: rgb(46, 46, 46);
    color: rgb(216, 216, 216);
    grid-area: graficoMensile;
}

.graficoMensile .axisTitle{
    font-size: 1.5rem;
}

/* GRAFICO 2020 VS 2021 */

.graficoMensilePiccolo{
    background: rgb(46, 46, 46);
    justify-content: center;
    align-items: center;
    grid-area: ventidiciannove;
}
#graficoMensilePiccolosvg{
    margin: 4rem;
    color: rgb(216, 216, 216);
}
#graficoMensilePiccolosvg rect{
    fill: rgb(255, 136, 0);
}

.ciao{
    text-anchor: middle;
    transform: translate(-40px,0);
}

/* MAPPE */
/* Mappa quartieri Trento */

.analisi-geografica{
    position: relative;
    height: 100vh;
    width: 100%;
}
.analisi-geografica-grid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "mappaQuartieri descrizioneQuartieri";
    height: 100%;
}

.mapboxgl-popup-content{
    background: #1f1f1f;
    color: white;
    font-style: 'Monserrat', sans-serif;
}

.mapQuartieri{
    grid-area: mappaQuartieri;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
  }
.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    border-radius: 3px;
  }
  
  #features {
    position: relative;
    height: 140px;
    width: 300px;
    margin: 1em;
    top:1em;
    padding: 1em;
  }
  
  #legend {
    font-family: "hidi", sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2em;
    padding: 1.2em;
    height: 150px;
    margin: 1em;
    width: 120px;
  }
  #pd{
    font-family: "hidi", sans-serif;
    margin-top: 2em;
    color: rgb(46, 46, 46);
  }
  #pd strong{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  #pd em{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  #pd p{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  
  .legend-key {
      
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .quartieriDescription{
    grid-area: descrizioneQuartieri;
    background: rgb(46, 46, 46);
    font-family: "hidi", sans-serif;
    padding: 4rem;
}
.quartieriDescription p {
    font-size: clamp(12px,1vw,200px);

}



/* Mappa Comuni */

.analisi-geografica-comuni{
    position: relative;
    height: 100vh;
    width: 100%;
}
.analisi-geografica-comuni-grid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "mappaComuni descrizioneComuni"
    "comuni20key descrizioneComuni";
    height: 100%;
}
#drogaTrento{
    color: rgb(216, 216, 216) ;
}
#furtiTrento{
    color: rgb(216, 216, 216) ;
}

.comuni20key{
    grid-area: comuni20key;
    background: rgb(46, 46, 46);
}
.comuni20key rect{
    fill:rgb(255, 136, 0)
}
.comuni20key g{
    color: rgb(216, 216, 216);
}


.mapboxgl-popup-content{
    background: #1f1f1f;
    color: white;
    font-style: 'Monserrat', sans-serif;
}

.mapComuni{
    grid-area: mappaComuni;
}
.comuniDescription{
    grid-area: descrizioneComuni;
    background: rgb(46, 46, 46);
    font-family: "hidi", sans-serif;
    padding: 4rem;
}

.comuniDescription p {
    font-size: clamp(12px,1vw,200px);

}

#map-comuni {
    position: absolute;
    top: 0;
    bottom: 0;
  }
.map-overlay-comuni {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    border-radius: 3px;
  }
  
  #features-comuni {
    position: relative;
    height: 120px;
    width: 300px;
    margin: 1em;
    top:1em;
    padding: 1em;
  }
  
  #legend-comuni {
    font-family: "hidi", sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2em;
    padding: 1.2em;
    height: 180px;
    margin: 1em;
    width: 130px;
  }
  #pd-comuni{
    font-family: "hidi", sans-serif;
    margin-top: 2em;
    color: rgb(46, 46, 46);
  }
  #pd-comuni strong{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  #pd-comuni em{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  #pd-comuni p{
    font-family: "hidi", sans-serif;
    color: rgb(46, 46, 46);
  }
  .legend-key-comuni {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  /* animazione */
.custom-p{
    opacity: 0;
    transition: opacity 2s;
}
.scroll-class{
    opacity: 1;
}
 














































  