html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #303030;
    font-family: Montserrat, sans-serif;
}

text, h1, h2, h3, h4, h5, h6, p, a, li, ul{
    color: white;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
body{
    margin-top: 50px;
}

#map {
    position: relative;
    margin: 0;
    top:0;
    bottom: 0;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
  }
.marker {
    border-radius: 100%;
    width: 5px;
    height: 5px;
    text-align: center;
    line-height: 2px;
    color: white;
    background: #3bb2d0;
}
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container-map {
    margin: 0;
    padding: 0;
    height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.col-left{
    float: none;
    margin: 0 auto;
    text-align: left;
}
.col-right{
    float: none;
    margin: 0 auto;
    text-align: right;
}

.labelled-chart{
    display: inline;
}

.single{
    padding-left: 500px;
}
#firstrow{
    height: 90%;
    justify-content: center;
}

.axis line{
    stroke: white;
}

.axis path {
    stroke: white;
}

.axis text{
    fill: white;
}
/* SLIDER */

#slider-container svg line.track {
    stroke-opacity: 1;
    stroke: #343a40;
    stroke-width: 1px;
    
}
#slider-container svg line.track-inset {
    stroke: #343a40;;
    stroke-width: 8px;
}
#slider-container svg line.track-overlay {
    stroke: #343a40;
    stroke-width: 40px;
    stroke-opacity: 0;
    cursor: crosshair;
}
#slider-container svg .handle {
    fill: #fca311;
    
}
#slider-container svg line.track-overlay, #slider-container svg line.track, #slider-container svg line.track-inset {
    stroke-linecap: round;
}
text{
    fill: white;
}

.btn-group button {
    background-color:  #343a40; /* Green background */
    border: none; /* Green border */
    color: white; /* White text */
    padding: 5px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    margin: 10px;
    display: block; /* Make the buttons appear below each other */
    border-radius: 10px;
    height: 35px;
    width: 150px;
  }

  .btn-group{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    left:0;
  }

  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #fca311;
  }

  #keys-col{
    padding-top: 15%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

/* .btn-group{
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;

    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button{
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: #fca311;
} */

/* fine */

#word-cloud {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
 }